<div *ngIf="anime">
	<h2>{{ anime.attributes.canonicalTitle }}</h2>
	<img [src]="anime.attributes.posterImage.medium" alt="Capa do Anime">
	<p>{{ anime.attributes.synopsis }}</p>
</div>
<button (click)="goBack()">Voltar para a Lista</button>
<button (click)="openRatingStatusSelection()">Adicionar aos Favoritos</button>

<!-- Use *ngIf to conditionally render the rating and status selection component -->
<app-rating-status-selection *ngIf="showRatingStatusSelection"
	(onSubmit)="addToList($event)"></app-rating-status-selection>
