.rating{
	border: 2px solid black;
  margin: 1%;
  flex-direction: column;
  width: 30%;
}
.rating-menu {
	font-size: 44px; /* Adjust the size of the stars */
  margin: 3%;
  }
  
  .star {
	cursor: pointer;
	color: #ccc;
  }
  
  .star.active {
	color: #f1c40f; /* Change the color of active stars */
  }
  