
.animeLogo{
	width: 10%;
	height: 100%;
	margin-bottom: 1%;
  }

.box{
	display: flex; 
	align-items: center; 
	justify-content: space-between; 
	background-color: #30b2a5; 

}

.center{
	flex: 1;
}
.left{
	margin: 1%;
	display: flex; 
	align-items: center;
}
.username{
	margin: 1%;
	margin-top: 5%;
	display: flex; 
	align-items: center;
}

