<div class="box">

	<img routerLink="/" class="animeLogo" src="assets/anime.png" alt="Logo">

	<app-search-bar class="center"></app-search-bar>

	<div class="left">
		<button mat-button routerLink="/profile" *ngIf="isUserLoggedIn">
			<mat-icon>person</mat-icon>
		</button>

		<div class="panel">
			<button mat-button (click)="navigateToAuth('login')" *ngIf="!isUserLoggedIn">
				<mat-icon>person</mat-icon>
			</button>

			<button mat-button (click)="navigateToAuth('cadastro')"
				*ngIf="!isUserLoggedIn">
				<mat-icon>add_circle</mat-icon>
			</button>
		</div>

	</div>

</div>
