.anime-list {
	display: flex;
	flex-wrap: wrap;
  }
  
  .anime-list-item {
	flex: 1 1 200px; /* Flex property to control the item width */
	margin: 10px;
	text-align: center;
  }
  
  .anime-img {
	width: 100%;
	height: auto;
	max-width: 200px; /* Adjust the max width as needed */
  }
  
  h2,
  p {
	margin: 5px 0;
  }
  /* CSS for the star icon */
.star {
	font-size: 50px;
  color: #f1c40f;
}
