<div class="anime-list">
	<div class="anime-list-item" *ngFor="let anime of animes">
		<a (click)="navigateToAnimeDetails(anime.attributes.slug)">
			{{ anime.attributes.canonicalTitle | slice:0:20 }}{{
			anime.attributes.canonicalTitle.length > 20 ? '...' : '' }}
		</a>
		<img class="anime-img" [src]="anime.attributes.posterImage.medium"
			alt="Capa do Anime">
	</div>
</div>

<div class="pagination-buttons">
	<button mat-icon-button (click)="loadPreviousPage()"
		[disabled]="currentPage === 1">
		<mat-icon>keyboard_arrow_left</mat-icon>
	</button>
	<button mat-icon-button (click)="loadNextPage()">
		<mat-icon>keyboard_arrow_right</mat-icon>
	</button>
</div>
